html,
body,
#root,
#root > .video-container {
  height: 100%;
}
.video-container {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background-color: dark;
}

.video-container video {
  width: 200%;

  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.85;
}
