.music-player {
  z-index: 1;
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 10px;
  box-shadow: inset 0px -34vh 150px -72px rgb(0 0 0 / 80%);

  bottom: 0;
  position: absolute;
  height: 40%;
  width: 100%;
}
.song-info-container {
  text-align: left;
}
.song-info-container h2,
h5 {
  margin: 0;
  padding: 0;
}
.song-info-container h5 {
  color: #b8b8b8;
}
