html,
body,
#templates-react-app,
#templates-react-app > .video-container {
  height: 100%;
  position: relative;
}

.video-container {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background-color: dark;
}

.video-container video {
  width: 120%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.95;
}
